[id^="wait_"] {
    display: none;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin-top: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    z-index: 9999999 !important;
    width: auto !important;
    height: auto !important;
    background: rgba(0, 0, 0, 0.3) !important;
    text-align: center !important;
    color: #fff !important;
    padding-top: 4.8rem !important;
    padding-right: 0 !important;
    padding-bottom: 0.75rem !important;
    padding-left: 0 !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    font-weight: 300 !important;
    opacity: 0.95 !important;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    -webkit-box-shadow: none !important;
    box-shadow: none!important;
    border: 0 !important;
    font: inherit !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
    line-height: 1.5rem !important;
    text-transform: lowercase;
    cursor: progress;
    outline: none;
    text-indent: -9999px;
}

[id^="wait_"][style] {
    display: block;
}

[id^="wait_"]:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: -2rem auto auto;
    width: 4rem;
    height: 4rem;
    background: url("images/preloader.gif") no-repeat center/100%;
}

.header_auth + .content_main {
    margin-top: 30px;
}

.system-auth .popup__close {
    display: none;
}