.acc {
  &__header {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 14px;
    color: #a2a2a2;
    white-space: nowrap;

    & > .row {
      & > div {
        @media (max-width: 768px) {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    &_collapse {
      padding: 15px 60px 15px 30px;
      @media (max-width: 768px) {
        padding: 15px 45px 15px 30px;
      }
    }

    @media (max-width: 768px) {
      &_lg {
        font-size: 12px;
      }
    }
  }

  &__footer {
    padding: 0;
    font-size: 16px;
    color: #000000;
    border-radius: 30px;
    border: 1px solid #a2a2a2;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &-btn {
      height: 60px;
      width: 370px;
      border-radius: 28px;
      padding: 16px 30px;
      margin: -1px;

      @media (max-width: 1200px) {
        width: auto;
      }
    }
  }

  &__sum {
    font-size: 18px;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__unit {
    margin-bottom: 1rem;

    &_extended {
      &[data-expanded="true"] {
        & .acc__item {
          border: 1px solid #a2a2a2;
          height: 100%;
          filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.19));
        }

        & .acc__item-body {
          border-bottom: 0;
        }
      }
    }

    &[data-expanded="true"] {
      & .acc__group_short {
        visibility: hidden;
        opacity: 0;
        transition: 0s;
        max-height: 0;
      }

      & .acc__item {
        z-index: 1;
        filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.19));
      }
    }
  }

  &__item {
    border-radius: 30px;
    border: 1px solid #a2a2a2;
    border-bottom: 0;
    background: #f8f8f8;
    position: relative;

    &:hover {
      z-index: 2!important;
    }

    &_selected {
      background: #ffc800;
      border-color: #ffc800;

      & .acc__item-head {
        background: #ffc800;
        border-color: #ffc800;
      }
    }

    &-screenshot + div {
      margin-top: 1.5rem;
    }

    &-hint {
      font-size: 14px;
      line-height: 30px;
      color: #000000;
      height: 30px;
      border-radius: 15px;
      background-color: #ffc800;
      padding: 0 10px;
      text-align: center;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-left: -30px;
      margin-top: -15px;
    }

    &-head {
      padding: 14px 20px;
      font-size: 16px;
      color: #000000;
      border-radius: 30px;
      line-height: 1;
      position: relative;
      border-bottom: 1px solid #a2a2a2;
      background: #fff;
      height: 60px;

      @media (max-width: 1200px) {
        font-size: 14px;

        & .box {
          font-size: 12px;
          padding: 0 5px;
          height: 22px;
          line-height: 22px;
        }
      }

      &-action {
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 0 10px;
        height: 60px;

        @media (max-width: 768px) {
          padding: 0;
          right: -10px;
          left: auto;
        }

        & a {
          border: 1px solid #b3b3b3;
          width: 26px;
          height: 26px;
          font-size: 14px;
          border-radius: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          background: #fff;
        }
      }

      & > .row {
        height: 100%;

        & > div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media (max-width: 768px) {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }

      & .rating {
        margin-right: 15px;
        @media (max-width: 768px) {
          margin-right: 5px;
        }
      }

      &_collapse {
        cursor: pointer;
        padding: 14px 60px 14px 30px;

        @media (max-width: 768px) {
          padding: 14px 45px 14px 30px;
        }

        &:after {
          font-family: "Font Awesome 5 Pro";
          content: "\f107";
          font-size: 24px;
          line-height: 24px;
          color: #a2a2a2;
          font-weight: 300;
          position: absolute;
          top: 18px;
          right: 30px;
          @media (max-width: 768px) {
            right: 14px;
          }
        }

        &[aria-expanded="true"] {
          &:after {
            content: "\f106";
          }
        }
      }
    }

    &-body {
      border-bottom: 1px solid #a2a2a2;
      border-radius: 30px;
      padding: 15px 60px 15px 15px;
      position: relative;

      &_full {
        padding: 20px 20px;
      }

      @media (max-width: 1200px) {
        & .btn {
          font-size: 14px;
          padding: 12px 10px;
          line-height: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      @media (max-width: 768px) {
        padding: 15px 15px 15px 15px;
      }
    }

    &-description {
      padding: 0 0 15px 15px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-action {
      background: #fff;
      font-size: 16px;
      color: #000000;
      border-radius: 30px;
    }

    &-footer {
      background: #a2a2a2;
      border-radius: 0 0 27px 27px;
      padding: 15px 60px 15px 15px;
      font-size: 16px;
      color: #ffffff;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }

    &_new {
      opacity: 0;
    }

    &_hot {
      border: 1px solid #fa4c33;

      & .acc__item-footer {
        background: #fa4c33;
      }

      & .acc__item-head {
        color: #fa4c33;
        border-bottom: 1px solid transparent;
      }

      & .acc__item-body {
        border: 0;
      }

      & .acc__level {
        color: #fa4c33;
      }

      & .acc__price {
        background: #fa4c33 !important;
      }

      & .progress {
        background-color: #2e2e2e !important;
      }

      & .progress-bar {
        background-color: #fa4c33 !important;
      }
    }

    &-title {
      font-size: 16px;
      line-height: 30px;
      color: #2d2d2d;
      margin: 0 0 15px;
    }
  }

  &__label {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    border-radius: 15px;
    background-color: #ffc800;
    padding: 0 15px;
    display: inline-block;

    &_dr {
      color: #ffffff;
      background-color: #571b13;
    }

    &_wr {
      font-size: 14px;
      color: #fa4c33;
      background-color: #fff;
    }
  }

  &__caption {
    font-size: 14px;
    color: #a2a2a2;
  }

  &__level {
    font-size: 10px;
    @include ya-sans-medium;
    color: #8e8e8e;
  }

  &__price {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    min-width: 70px;
    padding: 0 5px;
    height: 30px;
    border-radius: 15px;
    background-color: #001eff;
    text-align: center;
    display: inline-block;
    @media (max-width: 1200px) {
      min-width: auto;
    }

    &_xs {
      background: #90bacf;
    }

    &_s {
      background: #85c5e6;
    }

    &_m {
      background: #67b6ff;
    }

    &_l {
      background: #0169df;
    }

    &_xl {
      background: #001eff;
    }

    &_yellow {
      background: #ffc800;
      color: #000;
    }

    &_red {
      background: #fa4c33;
    }

    &_green {
      background: #5ca051;
    }

    &_xxl {
      background: #fa4c33;
    }

    &_level {
      background-color: #5b4dbd;
    }
  }

  &__link-complaint {
    font-size: 18px;
    color: #ffc800;
    position: absolute;
    right: 20px;
    bottom: 30px;
    @media (max-width: 768px) {
      bottom: 80px;
    }
  }

  &__group {
    justify-content: center;
    align-items: center;
    padding-right: 15px;

    &_short {
      visibility: visible;
      opacity: 1;
      transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
      max-height: 60px;
      @media (max-width: 992px) {
        display: none;
      }
    }

    &-btn {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: #ffffff;
      border: 1px solid #a2a2a2;
      font-size: 24px;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;
        background: #a2a2a2;
        color: #fff;
        border: 1px solid #a2a2a2;
      }

      &_report {
        background-color: #5b4dbe;
        border: 1px solid #5b4dbe;
        color: #fff;

        &:hover {
          background: #fff;
          color: #5b4dbe;
          border: 1px solid #5b4dbe;
        }
      }

      &_message {

      }

      &_complete {
        background-color: #ffc800;
        border: 1px solid #ffc800;

        &:hover {
          background: #fff;
          color: #000;
          border: 1px solid #ffc800;
        }
      }
    }
  }
}

.rating {
  font-size: 8px;

  & + span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__active {
    color: #fa4c33;
  }
}

.screenshot {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  &__point {
    background-color: #ffc800;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }

  & img {
    height: 120px;
    object-fit: cover;
    width: 100%;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;

    &-item {
      padding: 5px;
    }
  }

  &__time {
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    @include ya-sans-medium;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff70;
    border: 2px solid #fff;
    padding: 0 10px;
  }

  &__check {
    font-size: 14px;
    line-height: 30px;
    color: #232323;
    @include ya-sans-medium;
    background-color: #ffc800;
    height: 30px;
    border-radius: 15px;
    padding: 1px 10px;
    display: block;
    white-space: nowrap;

    &_cancel {
      background-color: #fa4c33;
    }

    &:hover {
      text-decoration: none;
      color: #232323;
    }
  }

  &__remove {
    color: #ce4432;
    background-color: #2c2c2c;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

    &:hover {
      text-decoration: none;
    }
  }

  &__label {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0 0 0;
    padding: 0 3px;

    & i {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 20px solid transparent;
      width: 0;
      height: 0;
    }

    &_success {
      &::before {
        border-left: 20px solid #4bc800;
        border-top: 20px solid #4bc800;
      }
    }

    &_cancel {
      &::before {
        border-left: 20px solid #f94b33;
        border-top: 20px solid #f94b33;
      }
    }
  }

  &__experience {
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    @include ya-sans-medium;
    background-color: #ffffff;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    padding: 0 10px;
  }

  &__rating {
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff70;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 13px;
    color: #000000;

    & .active {
      color: #ffc700;
    }
  }
}