.banner {
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  padding: 6px 12px;
  margin: 0 0 1.5rem;

  &_large {
    padding: 0!important;
    border: 0;

    & .banner__picture {
      border-radius: 30px;
    }

    & .banner__col-text {
        max-width: 520px;
    }
  }

  @media (max-width: 992px) {
    padding: 12px;
  }

  &_small {
    padding: 10px 12px;

    & .banner__picture {
      max-height: 190px;
    }

    & .banner__text {
      margin-bottom: 10px;
      min-height: 65px;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 14px;
    color: #000000;
  }

  & .btn-default {
    min-width: 200px;
  }
}