.breadcrumb {
  background: 0;
  padding: 0;
  margin: 0;
  &-item {
    font-size: 12px;
    color: #999999;
    font-weight: 400;
    & a {
      color: #999999;
    }
    &.active {
      color: #999999;
    }
  }
  &-item + &-item::before {
    content: "-";
    color: #999999;
  }
}