@font-face {
  font-family: 'Yandex Sans';
  src: local('Yandex Sans Display Bold'), local('Yandex-Sans-Display-Bold'),
  url('../webfonts/YandexSansDisplay-Bold.woff2') format('woff2'),
  url('../webfonts/YandexSansDisplay-Bold.woff') format('woff'),
  url('../webfonts/YandexSansDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans';
  src: local('Yandex Sans Display Regular'), local('Yandex-Sans-Display-Regular'),
  url('../webfonts/YandexSansDisplay-Regular.woff2') format('woff2'),
  url('../webfonts/YandexSansDisplay-Regular.woff') format('woff'),
  url('../webfonts/YandexSansDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans';
  src: local('Yandex Sans Text Medium'), local('Yandex-Sans-Text-Medium'),
  url('../webfonts/YandexSansText-Medium.woff2') format('woff2'),
  url('../webfonts/YandexSansText-Medium.woff') format('woff'),
  url('../webfonts/YandexSansText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}