.footer {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__social {
    text-align: center;
    flex-grow: 1;
    justify-content: center;

    @media (max-width: 992px) {
      text-align: right;
    }
  }

  & .navbar-collapse {
    flex-grow: 0;
  }

  @media (max-width: 1200px) {
    & .navbar-brand {
      margin-right: 0;
    }

    & .navbar-nav .nav-link {
      font-size: 14px;
    }
  }
}