.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: flex;
    align-items: center;
    user-select: none;
    padding-left: 40px;
    position: relative;
    min-height: 30px;
    font-size: 16px;
    color: #000;

    & a {
      color: #0169df;
      text-decoration: underline;
    }

    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      border: 1px solid #a2a2a2;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &:checked + label {
    &::before {
      border-color: #5b4dbe;
    }

    &::after {
      content: '';
      width: 14px;
      height: 14px;
      background-color: #5b4dbe;
      position: absolute;
      top: 8px;
      left: 8px;
      border-radius: 7px;
    }
  }
}

.form-control {
  height: 60px;
  border-radius: 30px;
  background-color: #f8f8f8;
  border: 1px solid #a2a2a2 !important;
  font-size: 16px;
  color: #000;
  outline: none !important;
  box-shadow: none !important;
  padding: 10px 25px;

  &::-webkit-input-placeholder {
    color: #a2a2a2;
  }

  &:-ms-input-placeholder {
    color: #a2a2a2;
  }

  &::-ms-input-placeholder {
    color: #a2a2a2;
  }

  &::placeholder {
    color: #a2a2a2;
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arrow.png") no-repeat 90% center;
  @media (min-width: 992px) {
    &.js-chosen-select {
      position: absolute;
      display: block !important;
      opacity: 0;
      height: 60px !important;
    }
  }
}

textarea.form-control {
  height: 120px;
}

.chosen-container-multi {
  & .chosen-choices {
    min-height: 60px;
    border-radius: 30px;
    background: #f8f8f8;
    border: 1px solid #a2a2a2;
    font-size: 16px;
    color: #000;
    outline: none !important;
    box-shadow: none !important;
    padding: 17px 25px;

    & li.search-field {
      & input.chosen-search-input {
        font-size: 16px;
        color: #000;
        @include ya-sans;
        height: 100%;

        &.default {
          color: #a2a2a2;
        }
      }
    }

    & li.search-choice {
      margin: 2px 5px 2px 0;
      font-size: 12px;
      line-height: 1;
    }

    &::after {
      font-family: "Font Awesome 5 Pro";
      content: "\f107";
      font-size: 24px;
      line-height: 24px;
      color: #a2a2a2;
      font-weight: 300;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      right: 30px;
    }
  }

  &.chosen-with-drop {
    .chosen-choices {
      border-radius: 30px 30px 0 0;
      background: #fff;
      border-bottom: 0;

      &::after {
        content: "\f106";
      }
    }
  }

  & .chosen-drop {
    border-radius: 0 0 30px 30px;
    padding-bottom: 5px;
  }
}

.chosen-container-single {
  & .chosen-single {
    height: 60px;
    border-radius: 30px;
    background: #f8f8f8;
    border: 1px solid #a2a2a2;
    font-size: 16px;
    color: #000;
    outline: none !important;
    box-shadow: none !important;
    padding: 17px 25px;

    &.chosen-default {
      color: #a2a2a2;
    }

    & > div b {
      background: none;

      &::after {
        font-family: "Font Awesome 5 Pro";
        content: "\f107";
        font-size: 24px;
        line-height: 24px;
        color: #a2a2a2;
        font-weight: 300;
        position: absolute;
        top: 18px;
        right: 30px;
      }
    }
  }

  &.chosen-with-drop .chosen-single {
    background: #fff;

    & > div b {
      &::after {
        content: "\f106";
      }
    }
  }
}

.chosen-container .chosen-results li {
  padding: 10px 15px;
  font-size: 16px;

  &.highlighted {
    background: 0;
    color: #5b4dbe;
  }
}

.chosen-container-single .chosen-search {
  padding: 5px 20px;
}

.chosen-container-single .chosen-drop {
  border-radius: 0 0 30px 30px;
  padding-bottom: 5px;
}

.chosen-container .chosen-results li.no-results {
  background: none;
}

.chosen-container-single .chosen-search input[type=text] {
  padding: 6px 12px;
  border-radius: 15px;
  background-position-y: -19px;
}

.radio-link {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #f8f8f8;
    border: 1px solid #a2a2a2;
    cursor: pointer;
  }

  &:checked + label,
  & + label:hover {
    background-color: #a2a2a2;
  }
}

.form {
  &_order {
    //overflow-x: hidden;

    .form-control {
      padding: 10px 20px;
      font-size: 15px;
    }
  }

  &__slider {
    //overflow: hidden;
    &-label {
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      @include ya-sans-medium;
      text-align: right;
      min-width: 65px;
      display: block;
    }

    & .slider {
      &-horizontal {
        width: 100%;

        & .slider-track {
          height: 5px;
          margin-top: -3px;
        }
      }

      & .slider-handle {
        background: #5b4dbe;
      }

      & .slider-selection {
        background: #5b4dbe;
      }

      & .slider-track {
        background: #ffc800;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
    border: 1px solid #a2a2a2;
    -webkit-transition: .4s;
    transition: .4s;
  }

  &__slider:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: -1px;
    top: -1px;
    background-color: white;
    border: 1px solid #a2a2a2;
    -webkit-transition: .4s;
    transition: .4s;
  }

  & input:checked + &__slider {
    background-color: #5b4dbe;
  }

  & input:focus + &__slider {
    box-shadow: 0 0 1px #5b4dbe;
  }

  & input:checked + &__slider:before {
    transform: translateX(40px);
  }

  /* Rounded sliders */
  &__slider.round {
    border-radius: 15px;
  }

  &__slider.round:before {
    border-radius: 50%;
  }
}

#drop-region {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  border: 2px dashed #ccc;
  width: 100%;
  cursor: pointer;
  transition: .3s;
  margin: 0 0 15px;
  min-height: 200px;
  padding: 20px 30px 20px 20px;
  position: relative;
}

#drop-region:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}

#drop-hint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-group {
  &_rel {
    position: relative;
  }

  &__link {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 18px;
    text-decoration: none;
    line-height: 1;
    margin-top: -9px;
  }
}