.header {
  padding: 15px 0;

  &_auth {
    border-bottom: 1px solid #5b4dbe;
  }

  &__auth {
    display: flex;
    align-items: center;
    margin: 0 -10px;

    &-item {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
    }

    &-icon {
      font-size: 24px;
      color: #000;
      display: flex;

      &:hover {
        text-decoration: none;
        color: #001eff;
      }

      & .header__auth-count {
        bottom: -5px;
        right: 0;
      }
    }

    &-box {
      font-size: 16px;
      color: #000000;
      height: 30px;
      border-radius: 15px;
      background-color: #ffc800;
      padding: 0 10px;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #001eff;

        & span {
          color: #fff;
        }
      }
    }

    &-text {
      font-size: 14px;
      color: #000000;
    }

    &-profile {
      & .header__auth-count {
        bottom: 0;
        left: 3px;
      }

      & img {
        border-radius: 100%;
        object-fit: cover;
        width: 50px;
        height: 50px;
      }

      & .progress {
        flex-grow: 1;
        margin-left: 5px;
      }

      &:hover {
        & img {
          filter: drop-shadow(0 0 12px rgba(0, 0, 0, .19));
        }

        & .progress-bar {
          background-color: #001eff;
        }
      }
    }

    &-progress {
      font-size: 10px;
      color: #000000;
      display: flex;
      align-items: center;
      position: absolute;
      left: 5px;
      right: 10px;
      bottom: -15px;
    }

    &-count {
      position: absolute;
      font-size: 12px;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #ffc800;
    }


    @media (max-width: 992px) {
      text-align: center;
      margin-bottom: 15px;
      justify-content: center;
    }
  }

  @media (max-width: 992px) {
    & .navbar-collapse {
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    }

    & .navbar-nav {
      padding: 15px;
    }
  }
}

.navbar {
  &-brand {
    margin-right: 40px;
  }

  &.navbar-light {
    & .navbar-nav {
      .nav-item {
        &.nav-item_btn {
          @media (min-width: 992px) {
            padding-right: 10px;
            padding-left: 10px;
          }

          @media (max-width: 992px) {
            margin: 10px 0;
          }

          & .btn-default {
            color: #000;

            &.active {
              background: #666;
              border: 1px solid #666;
            }

            &:hover,
            &.active {
              color: #fff;
            }
          }

          @media (min-width: 992px) and (max-width: 1200px) {
            & .btn {
              padding-right: 10px;
              padding-left: 10px;
              font-size: 14px;
            }
          }
        }
      }

      @media (min-width: 992px) {
        align-items: center;
      }

      .nav-link {
        color: #000;

        &:hover,
        &.active {
          color: #5b4dbe;
        }
      }
    }
  }

  &-expand-lg {
    padding: 0;
    @media (min-width: 992px) {
      & .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}