body {
  @include ya-sans;
  color: #000;
  font-size: 16px;
  padding-bottom: 120px;
}

html {
  min-height: 100%;
  position: relative;
}

a {
  color: #000;

  &:hover,
  &.active {
    color: #5b4dbe;
  }
}

img {
  max-width: 100%;
}

p,
.p {
  font-size: 18px;
  margin: 0 0 1rem;
  color: #000;
  @media (max-width: 1200px) {
    font-size: 16px;
  }

  &_sm {
    font-size: 14px;
  }
}

.h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  margin: 0 0 1rem;
}

.h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  margin: 0 0 1rem;
}

.btn {
  height: 50px;
  border-radius: 25px;
  box-shadow: none !important;
  outline: none !important;
  padding: 12px 20px;

  & b {
    @include ya-sans-bold;
  }

  &.lg {
    height: 60px;
    border-radius: 30px;
    padding: 16px 20px;
  }

  &.sm {
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 30px;
  }

  &.md {
    height: 40px;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    &.lg-xl {
      height: 60px;
      border-radius: 30px;
      padding: 16px 20px;
    }
  }

  &.readonly {
    pointer-events: none;
  }

  & .box {
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: -30px;
    margin-top: -15px;
  }
}

.btn-outline-primary {
  background-color: #ffffff;
  border: 1px solid #5b4dbe;
  font-size: 16px;
  color: #5b4dbe;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #9c8ff5;
    color: #fff;
    border: 1px solid #9c8ff5;
  }
}

.btn-primary {
  background-color: #5b4dbe;
  border: 1px solid #5b4dbe;
  font-size: 16px;
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #fff;
    color: #5b4dbe;
    border: 1px solid #5b4dbe;
  }
}

.btn-yellow {
  background-color: #ffc800;
  border: 1px solid #ffc800;
  font-size: 16px;
  color: #000;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #fff;
    color: #000;
    border: 1px solid #ffc800;
  }
}

.btn-green {
  background-color: #7bc350;
  border: 1px solid #7bc350;
  font-size: 16px;
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #fff;
    color: #000;
    border: 1px solid #7bc350;
  }
}

.btn-dark-green {
  background-color: #52aa77;
  border: 1px solid #52aa77;
  font-size: 16px;
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #fff;
    color: #000;
    border: 1px solid #52aa77;
  }
}

.btn-orange {
  background-color: #f4b241;
  border: 1px solid #f4b241;
  font-size: 16px;
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #fff;
    color: #000;
    border: 1px solid #f4b241;
  }
}

.btn-red {
  background-color: #d95e4d;
  border: 1px solid #d95e4d;
  font-size: 16px;
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #fff;
    color: #000;
    border: 1px solid #d95e4d;
  }
}

.btn-default {
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  font-size: 16px;
  color: #000000;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: #222;
    color: #fff;
    border: 1px solid #222;
  }

  &_nav {
    &.active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      background-color: #ffc800;
      border: 1px solid #ffc800;
      color: #000;
    }
  }
}

.btn-link {
  &_icon {
    font-size: 18px;
    color: #a2a2a2;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      color: #5b4dbe;
    }
  }
}

.btn-link-default {
  padding: 0;
  font-size: 16px;
  color: #000;
  border: 0;
  background: 0;
}

.col-60,
.col-45,
.col-40,
.col-35,
.col-30,
.col-20,
.col-25,
.col-15,
.col-none {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-none {
  width: auto;
}

.col-35 {
  flex: 0 0 35%;
  max-width: 35%;
}

.col-45 {
  flex: 0 0 45%;
  max-width: 45%;
}

.col-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.col-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.col-15 {
  flex: 0 0 15%;
  max-width: 15%;
}

.col-30 {
  flex: 0 0 30%;
  max-width: 30%;
}

.col-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

@media (min-width: 992px) {
  .col-lg-35 {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .col-lg-45 {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .col-lg-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-lg-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-lg-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-lg-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-lg-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
}

.content {
  padding: 30px 0;

  &_main {
    padding: 0 0 30px;
  }
}

.social {
  margin: 0 -5px;
  display: flex;
  align-items: center;

  &__item {
    margin: 0 5px;
  }

  & a {
    font-size: 24px;
  }
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
  height: 5px;
  border-radius: 3px;
  background-color: #d2d2d2;
  position: relative;

  &.lg {
    height: 10px;
    border-radius: 5px;
  }

  &.sm {
    height: 2px;
    border-radius: 1px;
    overflow: visible;
  }

  &.xs {
    height: 2px;
    border-radius: 1px;
  }

  &-bar {
    color: #000;
    white-space: nowrap;
    background-color: #ffc800;
    transition: width .6s ease;
    border-radius: 3px;
  }

  &.lg {
    & .progress-bar {
      border-radius: 5px;
    }
  }

  &.xs {
    & .progress-bar {
      height: 2px;
      border-radius: 1px;
    }
  }

  &.sm {
    & .progress-bar {
      border-radius: 1px;
      height: 4px;
      margin-top: -1px;
    }
  }

  &_pe {
    background-color: #ffc800;

    & .progress-bar {
      background-color: #5b4dbe;
    }
  }

  &_ep {
    background-color: #5b4dbe;

    & .progress-bar {
      background-color: #ffc800;
    }
  }

  &-link {
    @include ya-sans-bold;
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 24px;
    line-height: 10px;
    color: #5b4dbe;
    background-color: #fff;
    border: 1px solid #5b4dbe;
    padding: 0 6px;
    border-radius: 4px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }

    &::before {
      content: "...";
      line-height: 1;
      height: 36px;
    }
  }

  &-point {
    position: absolute;
    top: -6px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: "";
      background-color: #5b4dbe;
      border: 2px solid #fff;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #5b4dbe;
      display: block;
    }

    &::after {
      content: attr(data-value);
      font-size: 16px;
      color: #7b7b7b;
      background-color: #fff;
      border: 1px solid #7b7b7b;
      line-height: 20px;
      padding: 0 10px;
      border-radius: 11px;
      margin-top: 5px;
      @media (max-width: 1200px) {
        font-size: 12px;
      }
    }

    &_active {
      &::before {
        background-color: #fff;
      }

      &::after {
        color: #5b4dbe;
        @include ya-sans-bold;
        border: 2px solid #5b4dbe;
      }
    }
  }
}

.green {
  color: #3fae47;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.row-10 {
  margin-left: -10px;
  margin-right: -10px;

  & > [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  @media (min-width: 1200px) {
    &-xl-15 {
      margin-left: -15px;
      margin-right: -15px;

      & > [class^="col"] {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.group-btn {
  &_vertical {
    .btn + .btn {
      margin-top: 1rem;
    }
  }

  &_horizontal {
    .btn + .btn {
      margin-left: 1rem;
    }
  }
}

.box {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  height: 30px;
  border-radius: 15px;
  padding: 0 10px;
  text-align: center;
  display: inline-block;

  &_default {
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
  }

  &_yellow {
    background-color: #ffc800;
  }
}

.yellow {
  color: #ffc800;
}

.orange {
  color: #ff7800;
}

.purple {
  color: #5b4dbe;
}

.red {
  color: #fa4c33;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-smile {
  padding-left: 55px;
  position: relative;

  &::before {
    content: "\f118";
    top: 0;
    left: 0;
    color: #7bc34f;
    font-size: 40px;
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
  }
}

.nav-tabs {
  border: 0;

  & .nav-item {
    & .nav-link {
      height: 60px;
      background-color: #ffffff;
      border: 1px solid #a2a2a2;
      font-size: 16px;
      color: #000000;
      text-align: center;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background-color: #ffc800;
        border: 1px solid #ffc800;
      }

      &:hover {
        background-color: #5b4dbe;
        border: 1px solid #5b4dbe;
        color: #fff;
      }
    }
  }
}

.m--1 {
  margin: -1px;
}

.lowercase {
  text-transform: lowercase;
}

a.disabled {
  pointer-events: none;
  opacity: .65;
}

.w120 {
  width: 120px;
}

.notice {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #5b4dbe;
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  color: #fff;
}

.bg-danger {
  background-color: #ce4432 !important;
}

.lg-outer {
  z-index: 9999999999;
}

.container-tooltip {
  position: relative;

  &.__compact {
    & .tooltip-inner {
      width: 220px;
      text-align: center;
    }
  }
}