.message {
  &__item {
    background-color: #ffffff;
    border: 1px solid #a2a2a2;
    padding: 15px;
    display: flex;
    align-items: center;
    text-decoration: none!important;

    &:hover {
      background-color: #e5ebf0;
    }

    &_active {
      background-color: #e6e6e6;
    }

    &:first-child {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    &:last-child {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }

  &__item + &__item {
    border-top: 0;
  }

  &__ava {
    padding: 0 10px 0 0;

    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__about {
    padding: 0 0 0 10px;
    flex-grow: 1;
  }

  &__name {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    @include ya-sans-medium;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  &__date {
    font-size: 16px;
    color: #000000;
  }

  &__text {
    margin: 20px 0 0;
    font-size: 16px;
    color: #a2a2a2;
  }
}

.chat {
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    border-bottom: 1px solid #a2a2a2;
    padding: 15px 5px;
    display: flex;
    align-items: center;
  }

  &__body {
    padding: 15px;
    flex-grow: 1;
    max-height: 600px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__message {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    border-radius: 30px;
    background-color: #ffffff;
    border: 1px solid #a2a2a2;
    padding: 15px 20px;
    position: relative;
    margin: 0 0 15px 0;
    width: 75%;

    &-time {
      position: absolute;
      left: 100%;
      font-size: 16px;
      color: #a2a2a2;
      top: 10px;
      margin: 0 0 0 10px;
      white-space: nowrap;
    }

    &_answer {
      background-color: #e5ebf0;
      margin: 0 0 15px auto;

      & .chat__message-time {
        left: auto;
        right: 100%;
        margin: 0 10px 0 0;
      }
    }
  }

  &__footer {
    border-top: 1px solid #a2a2a2;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    font-size: 24px;

    & button {
      font-size: 24px;
    }
  }

  &__input {
    width: 100%;
    & .form-control {
      height: 50px;
      padding: 0 15px;
      border: 0 !important;
      background: #fff !important;
    }
  }

  &__name {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    @include ya-sans-medium;
  }

  &__date {
    font-size: 16px;
    color: #a2a2a2;
  }


  &__ava {
    padding: 0 10px;

    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__about {
    padding: 0 10px;
    flex-grow: 1;
  }

  &__detail {
    padding: 0 10px;

    &-link {
      font-size: 16px;
      color: #a2a2a2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;
      }

      & i {
        font-size: 30px;
        color: #000000;
      }
    }
  }
}