@mixin ya-sans {
  font-family: 'Yandex Sans', sans-serif;
  font-weight: 400;
}

@mixin ya-sans-bold {
  font-family: 'Yandex Sans', sans-serif;
  font-weight: 700;
}

@mixin ya-sans-medium {
  font-family: 'Yandex Sans', sans-serif;
  font-weight: 500;
}