.notification {
  &__item {
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    padding: 4px;
    min-height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
  }

  &__text {
    flex-grow: 1;
    padding: 4px;
    line-height: 18px;

    & a {
      color: #5b4dbe;
    }
  }

  &__icon {
    font-size: 18px;
    min-width: 40px;
    justify-content: center;
    display: flex;
  }

  &__hint {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    height: 30px;
    border-radius: 15px;
    padding: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc800;
  }

  &_simple {
    & .notification__item {
      border: 0;
      min-height: auto;
      margin: 0;
      padding: 0;
    }

    & .notification__icon {
      justify-content: flex-start;
    }

    & .notification__text {
      & br {
        display: none;
      }
    }
  }
}