.pagination {
  margin: 1rem 0;
  justify-content: center;

  & .page-item {
    margin: 0 7px;

    & .page-link {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: #ffffff;
      border: 1px solid #a2a2a2;
      font-size: 16px;
      line-height: 30px;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;

      i {

      }
    }

    &.active .page-link,
    & .page-link:hover {
      color: #000;
      background-color: #ffc800;
      border: 1px solid #ffc800;
    }
  }
}