.popover {
  &-default {
    min-width: 350px !important;
    max-width: 400px !important;

    & .driver-popover-footer button {
      vertical-align: top;
    }

    & .driver-popover-footer button.driver-close-btn {

    }
  }
}

.driver-stage-no-animation {
  pointer-events: none;
}