.popup {
  width: 530px;
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  position: absolute;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 100ms ease-in-out;
  z-index: 1011;
  display: none;
  overflow: hidden;

  &__content {
    position: relative;
  }

  &_danger {
    border: 2px solid #b15353;
    padding: 30px;
    background: #fffaf7;

    & .popup__title {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.5;
    }

    & .btn-danger {
      background: #b15353;
      border-color: #b15353;
      min-width: 200px;

      &:hover {
        background-color: #dc3545;
        border-color: #dc3545;
      }
    }
  }

  &_success {
    border: 2px solid #83b765;
    padding: 30px;
    background: #f8fef7;

    & .popup__title {
      color: #83b765;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
    }

    & .btn-success {
      background: #83b765;
      border-color: #83b765;
      min-width: 200px;

      &:hover {
        background-color: #28a745;
        border-color: #28a745;
      }
    }
  }


  &_md {
    width: 370px;
  }

  &_lg {
    width: 630px;
  }

  &_xl {
    width: 992px;
  }

  @media (max-width: 992px) {
    display: none;
    position: fixed !important;
    top: 30px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
  }

  &__header {
    padding: 5px 15px;
  }

  &__body {
    padding: 15px 0 0;

    &_pad {
      padding: 15px 15px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #a2a2a2;
  }

  &_tr {
    right: 0;
    top: 0;
  }

  &_open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;

    @media (max-width: 992px) {
      display: block;
    }
  }

  & .form-control {
    background: #fff;
  }

  &__form {
    &-text {
      font-size: 14px;
      line-height: 24px;
      color: #000000;
    }

    &-sign {
      font-size: 18px;
      line-height: 24px;
      color: #5b4dbe;
      @include ya-sans-medium;
    }

    &-picture {
      width: 100%;
      height: 120px;
      border-radius: 20px;
      background-color: #ffffff;
      border: 1px solid #a2a2a2;
      position: relative;
      overflow: hidden;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-remove {
      position: absolute;
      font-size: 18px;
      line-height: 24px;
      color: #a2a2a2;
      top: -10px;
      right: -10px;
      z-index: 1;
    }

    &-label {
      font-size: 16px;
      line-height: 1;
      color: #000000;

      & i {
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }

  &__response {
    &_mt {
      margin-top: 1rem;
    }
  }

  &_tooltip {
    filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.13));
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    width: 415px;
    overflow: visible;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 20px;
      border: 12px solid transparent;
      border-bottom: 12px solid #fff;
      width: 0;
      height: 0;
    }
  }
}

.blackout {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  display: none;

  &[data-backout="blur"] {
    background-color: transparent;
    backdrop-filter: blur(5px);
  }

  &_in {
    display: block;
  }
}