.profile {
  padding: 15px 0;

  &__row {
    margin: 0 -15px;
    display: flex;
    @media (max-width: 1200px) {
      margin: 0 -10px;
    }
  }

  &__col {
    &-picture {
      padding: 0 15px;
      width: 37%;
      @media (max-width: 1200px) {
        padding: 0 10px;
      }
    }

    &-info {
      padding: 0 15px;
      width: 63%;
      @media (max-width: 1200px) {
        padding: 0 10px;
      }
    }
  }

  &__picture {
    max-width: 100%;
    height: 120px;
    border-radius: 30px;
    background-color: #fa4c33;
    object-fit: cover;

    &-box {
      overflow: hidden;
      border-radius: 30px;
      position: relative;
      @media (max-width: 1200px) {
        border-radius: 15px;
      }
    }

    &-link {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 12px;
      line-height: 45px;
      color: #ffffff;
      text-align: center;
      height: 45px;
      background-color: #00000070;

      &:hover {
        color: #fff;
      }
    }

    &_large {
      height: auto;
    }

    @media (max-width: 1200px) {
      border-radius: 15px;
      width: 100%;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding-right: 30px;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include ya-sans-medium;

    &-lg {
      font-size: 24px;
      color: #000000;
      @include ya-sans-bold;
      margin: 0 0 15px;
    }
  }

  &__caption {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding-right: 50px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    @include ya-sans-medium;

    & .profile__rating {
      top: -3px;
    }
  }

  &__info {
    position: relative;
  }

  &__rating {
    font-size: 30px;
    color: #ffc800;
    position: absolute;
    top: -10px;
    right: 0;

    &-count {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #000000;
      @include ya-sans-medium;
    }
  }

  & .progress {
    margin: 10px 0;
  }

  &__text {
    font-size: 16px;
    color: #010101;
    line-height: 20px;
    display: flex;
    align-items: center;

    & > i {
      margin-right: 15px;
      font-size: 18px;
    }

    &.sm {
      font-size: 14px;
    }

    & b {
      @include ya-sans-bold;
    }
  }

  &__progress {
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    padding: 15px 30px 40px;
    border-radius: 8px;
    margin-top: 1rem;

    @media (max-width: 1200px) {
      padding: 15px 15px 40px;
    }

    &-text {
      text-align: center;
      margin-bottom: 5px;
      @media (max-width: 1200px) {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}