.tooltip {
  &.bs-tooltip-auto,
  &.bs-tooltip-right {
    top: -35px !important;
    left: 100% !important;
    transform: none !important;
    margin-left: 0;
    padding: 0 15px !important;
  }

  &.bs-tooltip-bottom {
    top: 15px !important;
  }

  &.show {
    opacity: 1;
    & .tooltip-inner {
      box-shadow: 0 0 92.5px rgba(0, 0, 0, 0.42);
    }
  }

  &.bs-tooltip-auto .arrow,
  &.bs-tooltip-right .arrow {
    top: 30px !important;
    left: 0 !important;
    width: 1rem !important;
    height: 2rem !important;

    &::before {
      right: 0 !important;
      border-width: 1rem 1rem 1rem 0 !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: #fff !important;
    }
  }

  &.bs-tooltip-bottom .arrow {
    top: -10px !important;
    left: 50% !important;
    width: 2rem !important;
    height: 1rem !important;
    margin-left: -1rem;

    &::before {
      right: 0 !important;
      border-width: 0 1rem 1rem 1rem !important;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
      border-bottom-color: #fff !important;
    }
  }

  &.bs-tooltip-top .arrow {
    width: 2rem !important;
    height: 1rem !important;
    bottom: -5px!important;

    &::before {
      border-bottom-color: transparent !important;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
      border-width: 1rem 1rem 0!important;
      border-top-color: #fff;
    }
  }

  &-inner {
    text-align: left;
    width: 350px;
    max-width: 100%;
    background-color: #ffffff;
    padding: 15px;
    color: #000000;
  }

  &-text {
    font-size: 17px;
    color: #000000;
    margin: 0 0 15px;

    &_sm {
      font-size: 14px;
    }

    & a {
      color: #5b4dbe;
    }

    & ul {
      padding: 0;
      margin: 0;
      list-style: none;

      & li {
        font-size: 14px;
        & span {
          color: #8d8d8d;
        }
      }
    }

    &_mute {
      color: #8d8d8d;
    }
  }

  &-name {
    font-size: 14px;
    color: #6e9478;
    background-color: #d7eedd;
    line-height: 26px;
    border-radius: 14px;
    margin: 0 0 15px;
    text-align: center;
    padding: 0 10px;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #4c764f;
    @include ya-sans-medium;
    background-color: #c1d8c7;
    padding-left: 20px;
    border-radius: 22px;
    margin: 0 0 15px;

    & i {
      font-size: 44px;
    }
  }

  &-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #4c764f;
    @include ya-sans-medium;
    padding: 0 20px;

    &-up {
      color: #6d9477;
    }

    &-down {
      color: #925353;
    }

    & a + a {
      margin-left: 5px;
    }
  }
}

.tooltip-link {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 0;
    right: 0;
  }
}