.video {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 30px;
  display: block;
  text-decoration: none!important;

  &__text {
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
  }
}